---
###############################################################################
# Role: Common - Base system configuration
###############################################################################

- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
    
- name: Upgrade all packages
  apt:
    upgrade: dist
    autoremove: yes
    autoclean: yes
  register: apt_upgrade
  
- name: Install essential packages
  apt:
    name:
      - curl
      - wget
      - git
      - vim
      - htop
      - net-tools
      - software-properties-common
      - apt-transport-https
      - ca-certificates
      - gnupg
      - lsb-release
      - unzip
      - tar
    state: present
    
- name: Set timezone to UTC
  timezone:
    name: UTC
    
- name: Configure automatic security updates
  apt:
    name:
      - unattended-upgrades
      - apt-listchanges
    state: present
    
- name: Configure unattended-upgrades
  template:
    src: 50unattended-upgrades.j2
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    mode: '0644'
    
- name: Enable automatic updates
  copy:
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    content: |
      APT::Periodic::Update-Package-Lists "1";
      APT::Periodic::Download-Upgradeable-Packages "1";
      APT::Periodic::AutocleanInterval "7";
      APT::Periodic::Unattended-Upgrade "1";
    mode: '0644'
    
- name: Disable unnecessary services
  systemd:
    name: "{{ item }}"
    state: stopped
    enabled: no
  loop:
    - bluetooth.service
  ignore_errors: yes
  
- name: Set server hostname
  hostname:
    name: "wordpress-{{ ansible_host }}"
    
- name: Update /etc/hosts
  lineinfile:
    path: /etc/hosts
    line: "127.0.0.1 wordpress-{{ ansible_host }}"
    state: present
