---
###############################################################################
# Role: Security - Firewall, fail2ban, hardening
###############################################################################

- name: Install security packages
  apt:
    name:
      - ufw
      - fail2ban
      - aide
      - libpam-pwquality
    state: present
    
- name: Configure UFW default policies
  ufw:
    state: enabled
    policy: "{{ item.policy }}"
    direction: "{{ item.direction }}"
  loop:
    - { direction: 'incoming', policy: 'deny' }
    - { direction: 'outgoing', policy: 'allow' }
    
- name: Allow SSH through UFW
  ufw:
    rule: allow
    port: '22'
    proto: tcp
    comment: 'SSH access'
    
- name: Allow HTTP through UFW
  ufw:
    rule: allow
    port: '80'
    proto: tcp
    comment: 'HTTP traffic (Cloudflare)'
    
- name: Allow HTTPS through UFW
  ufw:
    rule: allow
    port: '443'
    proto: tcp
    comment: 'HTTPS traffic (Cloudflare)'
    
- name: Allow Netdata through UFW (if enabled)
  ufw:
    rule: allow
    port: '19999'
    proto: tcp
    comment: 'Netdata monitoring'
  when: enable_netdata | default(true)
  
- name: Enable UFW
  ufw:
    state: enabled
    
- name: Configure fail2ban default settings
  template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    mode: '0644'
  notify: restart fail2ban
  
- name: Configure fail2ban Apache jail
  copy:
    dest: /etc/fail2ban/jail.d/apache.conf
    content: |
      [apache-auth]
      enabled = true
      port = http,https
      logpath = %(apache_error_log)s
      maxretry = 3
      bantime = 3600
      
      [apache-badbots]
      enabled = true
      port = http,https
      logpath = %(apache_access_log)s
      maxretry = 2
      bantime = 86400
    mode: '0644'
  notify: restart fail2ban
  
- name: Configure WordPress fail2ban filter
  copy:
    dest: /etc/fail2ban/filter.d/wordpress.conf
    content: |
      [Definition]
      failregex = ^<HOST> .* "POST .*wp-login.php
                  ^<HOST> .* "POST .*xmlrpc.php
      ignoreregex =
    mode: '0644'
  notify: restart fail2ban
  
- name: Configure WordPress fail2ban jail
  copy:
    dest: /etc/fail2ban/jail.d/wordpress.conf
    content: |
      [wordpress]
      enabled = true
      filter = wordpress
      logpath = /var/log/apache2/wordpress_access.log
      port = http,https
      maxretry = 3
      bantime = 3600
      findtime = 600
    mode: '0644'
  notify: restart fail2ban
  
- name: Enable and start fail2ban
  systemd:
    name: fail2ban
    state: started
    enabled: yes
    
- name: Configure SSH hardening
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
  loop:
    - { regexp: '^PermitRootLogin', line: 'PermitRootLogin no' }
    - { regexp: '^PasswordAuthentication', line: 'PasswordAuthentication no' }
    - { regexp: '^PubkeyAuthentication', line: 'PubkeyAuthentication yes' }
    - { regexp: '^X11Forwarding', line: 'X11Forwarding no' }
    - { regexp: '^MaxAuthTries', line: 'MaxAuthTries 3' }
    - { regexp: '^ClientAliveInterval', line: 'ClientAliveInterval 300' }
    - { regexp: '^ClientAliveCountMax', line: 'ClientAliveCountMax 2' }
  notify: restart sshd
  
- name: Set file permissions on sensitive files
  file:
    path: "{{ item }}"
    mode: '0600'
  loop:
    - /etc/ssh/sshd_config
    - /etc/shadow
  ignore_errors: yes
